<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta charset="UTF-8">
		<title>Discover Scheme</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="{% static 'jquery.qrcode.js' %}"></script>
		<script type="text/javascript" src="{% static 'qrcode.js' %}"></script>
		<style>
			#showQrCode{position:relative;}
			#qrUl{position:absolute;top:63px;left:100px;}
			#qrUl li{height:100px;list-style:none;}
		</style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>

	<body>
		<h1>SODA/Tianyan QAAAAAA Helper</h1>
		<h2>Discover Scheme</h2>
		<br>
		<h2>Scheme Select</h2>
			<button id="mainCamera" onclick="location.href='{% url "main:maincamera_view" %}'">Main Camera</button>
		<button id="discover" onclick="location.href='{% url "main:discover_view" %}'">Discover</button>
		<button id="beautyRecipe" onclick="location.href='{% url "main:recipe_view" %}'">Beauty Recipe</button>
		<h2>App Select</h2>
		<select name="app" id="appSelect">
			<option value="soda">SODA REAL</option>
			<option value="sodab">SODA BETA</option>
			<option value="tianyan">Tianyan REAL</option>
			<option value="tianyanb">Tianyan BETA</option>
		</select>
		<h2>Template</h2>
		여기서 사용하는 스킴은 soda://studio?templateId=TemplateID
		<br>
		Template Id : <input type="number" id="templateId">
		<button id="templateIdSet">set</button>
		<button id="templateIdUnset">unset</button>
		<h2>Discover Event Camera</h2>
		여기서 사용하는 스킴은 soda://eventCamera?cameraPosition=cameraPosition&styleId=styleId&filterId=filterId (실제 admin 사용 스킴)
		<br>
		<h4>Camera Position</h4>
		<select name="discoverCameraPosition" id="discoverCameraPosotion">
			<option value="0">Front Camera</option>
			<option value="1">Back Camera</option>
		</select>
		<button id="discoverCameraPositionSet">set</button>
		<button id="discoverCameraPositionUnset">unset</button>
		<h4>Style</h4>
		Style ID : <input type="number" id="discoverStyleId">
		<button id="discoverStyleIdSet">SET</button>
		<button id="discoverStyleIdUnset">UNSET</button>
		<h4>Filter</h4>
		Filter ID : <input type="number" id="discoverFilterId">
		<button id="discoverFilterIdSet">SET</button>
		<button id="discoverFilterIdUnset">UNSET</button>
		<h2>* Scheme</h2>
		<input id="mainUrl" readonly style="width: 1000px;">
		<br>
		<button id="schemeCopy">Scheme Copy</button>
		<br>
		<h2>*QR Code</h2>
		<input type="button" id="addQrcode" value="Show QR Code" onclick="actionAdd()">
		<input type="reset" id="reset" value="Reset">
		<br>
		<br>
		<div id="showQrCode">
			<div id="showQrCodeDiv"></div>
			<ul id="qrUl"><ul>
		</div>
        <style>
    .modal-dialog
    {
        max-width: 1000px;
    }
    .filtestudio_groupr_group
    {
        display: inline-flex;
        max-width: 900px;
        overflow-x: scroll;
    }
    .studio_group img
    {
        width: 150px;
    }

</style>
        <button class="button" data-toggle="modal" data-target="#exampleModal" onclick="call_studio_api()">studio</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body studio_list">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
		<script>
			const appMain = {
				url: '',
				template: '',
				style: '',
				filter: '',
				position: '',
				allUrl: '',
			}




			function call_studio_api() {
    let template_category = [];
    let template_info = {templates:[]}
    $.ajax({
        url: "{% url 'main:api_studio' %}",
        success: function (result) {
            // 통신이 성공적으로 이루어졌을 때 이 함수를 타게 된다.  TO-DO
            var category_html = ''
            for (var i = 0; i < result.result.categories.length; i++) {
                const template_id = result.result.categories[i].templateIds;
                const title = result.result.categories[i].title;
                template_category.push({'templateIds': template_id, 'title': title})
                category_html += `<div class="template-category">${title}</div>`
            }
            $(".studio_list").append(category_html);


            template_info.cdn_prefix = result.result.cdnPrefix;

            for (var i = 0; i < result.result.templates.length; i++) {
                const template_id = result.result.templates[i].id;
                const thumbnail = result.result.templates[i].thumbnail;
                const name = result.result.templates[i].name;
                template_info.templates.push({'id': template_id, 'thumbnail': thumbnail, 'name': name})
            }

            $(".template-category").click(function () {
                var title = $(this).text();
                var filter_temp = template_category.filter(e => e.title === title);
                var current_template = []
                for (var i = 0; i < filter_temp[0].templateIds.length; i++) {
                    current_template.push(template_info.templates.filter(e => e.id === filter_temp[0].templateIds[i])[0])
                }
                let sub_html = ''
                current_template.forEach(function (value, index, array) {

                    var thumb = template_info.cdn_prefix + 'template/' + value.id + '/' + value.thumbnail;
                    sub_html += `<div class="studio_block"><div>${value.id}</div>
                        <img src="${thumb}"></img>
                        <div>${value.name}</div>
                        </div>`;

                })
                const html = `
            <div className="contentsListContainer">

                  <div class="studio_group">
                    ${sub_html}
                    </div>
            </div>`
                //$(".studio_list").append(html);
            });

// image thumbnail 가운데 오도록 함,
// https://wiki.navercorp.com/pages/viewpage.action?pageId=586662251
// API Category List : 전체 카테고리 리스트를 내려준다.
//filter.id, filter.name, filter.thumbnail 값을 읽어와서 화면에 출력하면 된다.
//Thumbnail Url은: result.cdnPrefix + filter.thumbnail 로 사용한다.
//filter.thumbnail 이 없는 케이스도 있으니 예외 처리가 필요하다.


// console.log(sub_html)
// 자바스크립트에서 중괄호는 객체를 의미 , $ajax{}도 마찬가지이다.
// style category를 group으로 나눈다.

// 위에서 j까지 만들어 지고, 여기서부터 더해진다.
// id, name이 보이게 한다.
//


        },
        error: function (e) {
            console.error(e);
        }
    })
}



			$(function () {
				appMain.url = $("#appSelect").val() + "://studio";

				setUrl();

				$("#appSelect").change(function() {
					if (appMain.template) {
						appMain.url = $("#appSelect").val() + "://studio";
					} else if( appMain.style || appMain.filter ) {
						appMain.url = $("#appSelect").val() + "://eventCamera";
					} else {
						appMain.url = $(this).val() + "://studio";
					}
					setUrl();
				});

				$("#templateIdSet").click(function () {
					var templateId = $("#templateId").val();
					if (templateId === '') {
						return false;
					}
					appMain.url = $("#appSelect").val() + "://studio";
					appMain.template = 'templateId=' + templateId;
					reSetEventCamera ();
					setUrl();
				});

				$("#templateIdUnset").click(function () {
					if(appMain.template.indexOf("templateId") !== -1) {
						appMain.template = '';
						setUrl();
					}
				});




				$("#discoverCameraPosotion").change(function () {
					var cameraPosition = $(this).val();
					appMain.position = 'cameraPosition=' + cameraPosition;
					setUrl();
				});

				$("#discoverCameraPositionSet").click(function () {
					var cameraPosition = $("#discoverCameraPosotion").val();
					appMain.position = 'cameraPosition=' + cameraPosition;
					setUrl();
				});

				$("#discoverCameraPositionUnset").click(function () {
					appMain.position = '';
					setUrl();
				});




				$("#discoverStyleIdSet").click(function () {
					var styleId = $("#discoverStyleId").val();
					if (styleId === '') {
						return false;
					}
					appMain.url = $("#appSelect").val() + "://eventCamera";
					appMain.style = 'styleId=' + styleId;
					reSetTemplate ();
					setUrl();
				});

				$("#discoverStyleIdUnset").click(function () {
					if(appMain.style.indexOf("styleId") !== -1) {
						appMain.style = '';
						setUrl();
					}
				});

				$("#discoverFilterIdSet").click(function () {
					var filterId = $("#discoverFilterId").val();
					if (filterId === '') {
						return false;
					}
					appMain.url = $("#appSelect").val() + "://eventCamera";
					appMain.filter = 'filterId=' + filterId;
					reSetTemplate ();
					setUrl();
				});

				$("#discoverFilterIdUnset").click(function () {
					if(appMain.filter.indexOf("filterId") !== -1) {
						appMain.filter = '';
						setUrl();
					}
				});



				$("#mainUrl").click(function () {
					var url = $(this).val();
					window.open(url);
				});
			})

			function reSetTemplate () {
				appMain.template = '';
			}

			function reSetEventCamera () {
				appMain.style = '';
				appMain.filter = '';
			}

			function setUrl() {
				const param = [appMain.template, appMain.style, appMain.filter, appMain.position]
				console.log(param);
				var all = appMain.url;
				var ck = false;
				for (var i = 0; i < param.length; i++) {
					if (Array.isArray(param[i])) {
						for (var j = 0; j < param[i].length; j++) {
							if (ck) {
								all += '&' + param[i][j].name + '=' +param[i][j].val;
							} else {
								all += '?' + param[i][j].name + '=' +param[i][j].val;
								ck = true;
							}
						}
					} else {
						if (param[i] === '') {
						} else {
							if (ck) {
								all += '&' + param[i];
							} else {
								all += '?' + param[i];
								ck = true;
							}
						}
					}
				}
				$("#mainUrl").val(all);
				appMain.allUrl = all;
			}

			//qrcode 보기
			$("#addQrcode").click(function () {
					console.log($("#mainUrl").val())
				jQuery("#showQrCode #showQrCodeDiv").qrcode({
					render: "table",
					width: 100,
					height: 100,
					text: $("#mainUrl").val()
				});
				// $('#name').html($("#mainUrl").val());
			})

			function actionAdd(){
				var textAdd = $("#mainUrl").val(); //입력할 글씨
				var qrUl = $("#qrUl"); //ul_list선언
				qrUl.append("<li>"+textAdd+"</li>"); //qrUl안쪽에 li추가
			}

			//qrcode reset
			$("#reset").click(function () {
				$("#showQrCode #showQrCodeDiv").empty();
				$("#qrUl").empty();
			})

			//scheme copy
			jQuery("#schemeCopy").click (
				function() {
					var urlInfo = document.getElementById("mainUrl");
					urlInfo.select();
					document.execCommand("Copy");
					alert("Add scheme to clipboard!")
				}
			)
		</script>
	</body>
</html>