image url :  https://foodie-nres-beta-static.pstatic.net/temp/resource/2022-11/5iv2ypv-1667794835553-nYSNXxfu7aySRGVke5.JPG
"thumbnail": "temp/resource/2022-09/fxUr89h-1663243646477-mHIE4mPwBH3QczB6Q3.jpeg"
http://api-beta-foodie.snow.me/foodie/api/template/v2/list?os=a&appVersion=4.4.1&categoryId=202208182202293
"templateCdnPrefix": "https://foodie-nres-beta-static.pstatic.net/"



foodie://feed?categoryId={}&contentId={}

https://api-beta-foodie.snow.me/foodie/api/category/list?os=a&appVersion=4.4.1
"categoryId": 202209161206558,
"title": "Recipe"
