<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <br>
    <br>
    <br>
   <h1>테스트용 페이지</h1>
    <br>
    <br>
    <br>
    <br>
    <button type="button" onclick="location.href='sodabetastyle'">소다베타스타일</button>
    <button type="button" onclick="location.href='sodarealstyle'">소다리얼스타일</button>
    <button type="button" onclick="location.href='tianyanbetastyle'">탠얜베타스타일</button>
    <button type="button" onclick="location.href='tianyanrealstyle'">탠얜리얼스타일</button>
    <br>
    <br>
    <br>
    <button type="button" onclick="location.href='sodabetafilter'">소다베타필터</button>
    <button type="button" onclick="location.href='sodarealfilter'">소다리얼필터</button>
    <button type="button" onclick="location.href='tianyanbetafilter'">탠얜베타필터</button>
    <button type="button" onclick="location.href='tianyanrealfilter'">탠얜리얼필터</button>
    <br>
    <br>
    <br>
    <button type="button" onclick="location.href='sodabetadiscover'">소다베타 둘러보기</button>
    <button type="button" onclick="location.href='sodarealdiscover'">소다리얼 둘러보기</button>
    <button type="button" onclick="location.href='tianyanbetadiscover'">탠얜베타 둘러보기</button>
    <button type="button" onclick="location.href='tianyanrealdiscover'">탠얜리얼 둘러보기</button>
    <br>
    <br>
    <br>
    <button type="button" onclick="location.href='sodabetamakeup'">소다베타 메이크업</button>
    <br>
    <br>
    <br>
    <button type="button" onclick="location.href='foodiebetafilter'">푸디 베타필터</button>
    <button type="button" onclick="location.href='foodierealfilter'">푸디 리얼필터</button>
    <button type="button" onclick="location.href='foodiecnbetafilter'">푸디CN 베타필터</button>
    <button type="button" onclick="location.href='foodiecnrealfilter'">푸디CN 리얼필터</button>
    <br>
    <br>
    <br>
    <button type="button" onclick="location.href='sodabetabanner'">소다 ADSDK </button>

</head>
<body>

</body>
</html>