<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta charset="UTF-8">
    <title>Filter List</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="jquery.qrcode.js"></script>
    <script type="text/javascript" src="qrcode.js"></script>
</head>
<body>
    <h1>SODA/Tianyan QA Helper</h1>
    <h2>Filter List</h2>
    <h3>App Select</h3>
<!--    Button 방식-->
<!--    <button id="sodaReal">SODA Real</button>-->
<!--    <button id="sodaBeta">SODA Beta</button>-->
<!--    <button id="tianyanReal">Tianyan Real</button>-->
<!--    <button id="tianyanBeta">Tianyan Beta</button>-->
<!--    Select 방식-->
    <select name="appSelect" id="appSelect">
        <option value="sodaReal">SODA Real</option>
        <option value="sodaBeta">SODA Beta</option>
        <option value="tianyanReal">Tianyan Real</option>
        <option value="tianyanBeta">Tianyan Beta</option>
    </select>
    <h3>Country Option</h3>
    <select name="countrySelect" id="countrySelect">
        <option value="all">ALL</option>
        <option value="kr">KR</option>
        <option value="jp">JP</option>
        <option value="vn">VN</option>
    </select>
</body>
</html>